body{
    background-color: pink;
}
/* navbar */
.navdiv{
    width:100%;
    height:50px;
    background-color:black;
    display:flex;
    align-items:center;
}
.nava{ background-color:none;
    height:;
    width:100px;
    margin:5px;
    font-size:20px;
    text-decoration: none;
    color:white;
    /* text-align: center; */
    text-align:center;
    
    
}
.ak{
    background-color:black;
    margin:5px;
    height:100%;
    display: flex;
    align-items: center;
   
}
@media only screen and (max-width:800px)
{body{
    background-color:lightblue;
}}
.nava:hover{
    color:black;
}
.ak:hover{
    background-color:gray;
    color:black;
}


/* Home page */
#home{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
}
 #homediv{
   width:800%;
   height:400px;
   /* background-color:red; */
   /* background-image:url(https://mitsgwalior.in/login/photo/n5.JPG); */
   animation-name: homeanimation;
   animation-duration: 10s;
   animation-delay: -1s;
   animation-iteration-count: 5;
   background-repeat: no-repeat;
   background-size: cover;
   
 }
@keyframes homeanimation{
  0%{background-image:url(https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);}
  20%{background-image:url(https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);}
  40%{background-image:url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);}
  60%{background-image:url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8OXx8YmFja2dyb3VuZHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60);}
  100%{background-image:url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncm91bmR8ZW58MHx8MHw%3D&auto=format&fit=crop&w=500&q=60);}

}
/* aboutusdiv */
#aboutusdiv{
  width:100%;
  height:500px;
  background-color: yellow;
}




















































}



<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>